.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.multiselect{
	position: relative;
	display: inline-block;
}

.selected-values{
	display: flex;
	cursor: pointer;
}

.selected-values .dropdown-icon{
	margin-left: auto;
	font-size: 15px;
}

.dropdown-list{
	background-color: #fff;
	border: 1px solid #ccc;
	max-height: 180px;
	overflow-y: auto;
	padding: 10px;
}

.option{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.option input{
  	margin-right: 10px;
}

.readonly-checkbox{
  	padding: 15px;
}

.readonly-checkbox input{
  	margin-right: 10px;
}